#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ inventory_hostname }}
    # password is 'ubuntu' - required for first install
    password: "$6$exDY1mhS4KUYCE/2$zmn9ToZwTKLhCw.b4/b.ZRTIZM30JZ4QrOQ2aOXJ8yk96xpcCof0kxKwuX1kqLG/ygbJ1f8wxED22bTL4F46P0"
    username: dante
  ssh:
    install-server: yes
    authorized-keys:
{% for key in ssh_keys %}
{% if 'ssh' in key and '#' not in key %}
      - {{ key }}
{% endif %}
{% endfor %}
    allow-pw: no
  late-commands:
    - chroot /target /bin/bash -c "echo 'dante ALL=(ALL:ALL) NOPASSWD:ALL' | tee /etc/sudoers.d/dante"
    - chroot /target /bin/bash -c "chmod 0440 /etc/sudoers.d/dante"
